.navbar{
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 50px;
    background-color: white;
    color: black;
}

.navbar-links{
    display: flex;
    text-align: center;
    gap:30px;
    padding:0px;
}

.navbar-links li{
    color: white;
    text-decoration: none;
}

.navbar-links li a{
    color: black;
    text-decoration: none;
    cursor:pointer;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap:30px;
    cursor: pointer;
}

.navbar-center h2{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.signup-btn {
    padding: 5px 10px;     /* smaller size */
    font-size: 14px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.cart{
    display: flex;
    text-align: center;
    gap: 5px;
    cursor: pointer;
}

.cart-text{
    color:black;
    font-weight: bold;
    font-size: 18px;
}

.hero-section {
    background-color: #f4f4f4;
    background-image: url(hero.jpg);
    display: flex;
    text-align: center;
    justify-content: center;
    height: 400px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.hero-text{
    margin-top: 150px;
    color: rgb(245, 245, 220);
}

.hero-text p{
    animation: scroll-left 10s linear infinite;
    margin-top: 0%;
    display: inline-block;
    white-space: nowrap;
}

@keyframes scroll-left  {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

.hero-text h1{
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-bottom: 10px;
}

.books-section{
    padding-top: 20px;
}

.books-container1{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.book-card {
    flex: 1;                       
    max-width: 220px;               
    text-align: center;
    border-radius: 10px;
    border:4px solid #ccc;
}

.book-card img{
    width: 99%;
    height: 250px;
    border-radius: 8px;
}

.books{
    padding-top:10px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #333;
    color: white;
    padding: 20px;
    margin-top: 40px;
    height: 350px;
}

.footer-content h3 {
    margin-top: 70px;
    font-size: 24px;
}

.footer-link a{
    color: white;
    text-decoration: none;
}

.footer-link ul{
    list-style: none;
    padding: 0;
}

.service ul{
    list-style: none;
    padding: 0; 
}

.footer-shop ul{
    list-style: none;
    padding: 0;
}

.footer-bottom{
    text-align: center;
    background-color: #222;
    color: white;
    padding: 10px;
}